httpx
python-telegram-bot[all]
python-decouple
python-dotenv
sqlalchemy
cachetools
psycopg2-binary
importlib-metadata
pyyaml
bleach
markdown2
emoji
beautifulsoup4
datetime
jikanpy
requests
